{% extends "shop/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
	{{ product.name }}
{% endblock %}

{% block content %}

	<div class="product-detail">
		<img src="  {% if product.image %}
						{{ product.image.url }}
					{% else %}
						{% static "img/no_image.png" %}
					{% endif %}"
		     alt="this-is-a-product"
		/>

		<h1>{{ product.name }}</h1>
		<h2>
			<a href="{{ product.category.get_absolute_url }}">
				{{ product.category }}
			</a>
		</h2>

		<p class="price"> ${{ product.price }} </p>

		<form action="{% url "cart:cart_add" product.id %}" method="post">
			{{ cart_product_form }} {% csrf_token %}
			<input type="submit" value="{% trans "Add to cart" %}">
		</form>

		{{ product.description|linebreaks }}

		{% if recommended_products %}

			<div class="recommendations">
				<h3>{% trans "People who bought this also bought" %}</h3>

				{% for recmd_prod in recommended_products %}
					<div class="item">
						<a href="{{ recmd_prod.get_absolute_url }}">
							<img src="  {% if recmd_prod.image %}
											{{ recmd_prod.image.url }}
										{% else %}
											{% static "img/no_image.png" %}
							            {% endif %}"
							     alt="">
						</a>

						<p>
							<a href="{{ recmd_prod.get_absolute_url }}">
								{{ recmd_prod.name }}
							</a>
						</p>
					</div>
				{% endfor %}
			</div>

		{% endif %}

	</div>

{% endblock %}